<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>
      <%= @user.username %>
    </h1>

    <%= render "users/profile_nav", user: @user %>
  </div>
</div>

<% @user.own_photos.each do |zebra| %>
  <%= render "photos/photo", giraffe: zebra %>
<% end %>
